/* font face */



@font-face {
    font-family: 'squares';
    src: url('/fonts/squares_bold_free-webfont.eot');
    src: url('/fonts/squares_bold_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/squares_bold_free-webfont.woff2') format('woff2'),
         url('/fonts/squares_bold_free-webfont.woff') format('woff'),
         url('/fonts/squares_bold_free-webfont.ttf') format('truetype'),
         url('/fonts/squares_bold_free-webfont.svg#squares_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}